* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    font-size: 14px;
}

.top {
    height: 30px;
    background-color: #333;
    color: #FFF;
}

.intop {
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: auto;
}

.topleft {
    width: 50%;
    height: 30px;
    float: left;
}

.topleft ul {
    list-style: none;
}

.topleft li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0 8px;
}

.topleft li a {
    text-decoration: none;
    color: #FFF;
}

.topleft li a:hover {
    color: #00FFFF;
}

.topright {
    width: 50%;
    height: 28px;
    float: right;
    margin-top: 2px;
}

.topright a {
    float: right;
    margin: 0 2px;
}

.topright input {
    float: right;
    margin-right: 2px;
}

.topright input[type="image"] {
    outline: none;
}

.searchbox {
    width: 100px;
    height: 24px;
    outline: 0;
}

.top2 {
    height: 95px;
    color: #000;
}

.intop2 {
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: auto;
}

.logo {
    width: 230px;
    height: 95px;
    float: left;
}

.logo h1 {
    color: #F00;
    font-family: serif;
    font-size: 42px;
    line-height: 95px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.top2 .banner {
    width: 650px;
    height: 80px;
    float: right;
    margin: 7.5px 0;
    background: linear-gradient(to right, #F00, #C00);
}

.top2 .banner p {
    text-align: center;
    line-height: 80px;
    color: #FFF;
    font-size: 32px;
    font-weight: bold;
}

.menu {
    height: 40px;
    background: #F00;
}

.inmenu {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}

.menu ul {
    list-style: none;
}

.menu li {
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
}

.menu li:hover {
    background: #C00;
}

.menu li:hover .submenu {
    display: block;
}

.menu a {
    color: #FFF;
    text-decoration: none;
}

.submenu {
    max-width: 150px;
    width: 100%;
    background: #F00;
    margin-left: -8px;
    position: absolute;
    display: none;
}

.submenu li:hover {
    background: #C00;
    max-width: 134px;
    width: 100%;
}

.submenuitem {
    display: inline-block;
    width: 140px;
    height: 30px;
    line-height: 30px;
}

.ultimasnoticias {
    height: 40px;
}

.inultimasnoticias {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}

.ultnoticiasarea {
    height: 28px;
    background: #FFF;
    border: 1px solid #CCC;
    margin-top: 10px;
}

.ultnoticiastitulo {
    background: #F00;
    color: #FFF;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;
}

.ultnoticiasnoticia {
    color: #000;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding: 0 7px;
}

.incontainer {
    width: 100%;
    max-width: 1040px;
    margin: auto;
    background: #CCC;
}

.rightside {
    width: 275px;
    float: right;
    margin-left: 12px;
}

.leftside {
    float: left;
    width: 753px;
}

.slideshow {
    height: 335px;
    background: #CCC;
    overflow: hidden;
}

.slideshowarea {
    height: 335px;
    transition: all 1s;
}

.slide {
    height: 335px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slidebolinhas {
    position: absolute;
    width: 200px;
    height: 20px;
}

.bolinha {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    background: #CCC;
    border-radius: 50%;
}

.slideinfo {
    height: 70px;
    margin-top: 265px;
}

.slideinfo_titulo {
    font-size: 20px;
    padding: 10px 0 0 15px;
    font-weight: bold;
}

.slideinfo_subtitulo {
    font-size: 14px;
    padding-left: 15px;
}

.widget {
    background: #FFF;
    border: 1px solid #CCC;
    margin-bottom: 10px;
}

.widget_titulo {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #CCC;
    background: #DDD;
    padding-left: 5px;
    font-size: 15px;
}

.widget_conteudo {
    text-align: center;
    padding: 5px 0;
}

.noticia_item {
    font-size: 14px;
    margin: 0 10px;
    padding: 10px 0;
    text-align: justify;
    border-bottom: 1px solid #CCC;
}

.noticia_item a {
    text-decoration: none;
    color: #000;
}